<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Dataspaces Enablers viewpoint</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Dataspaces Enablers viewpoint</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-58b9bd0fcd3d4a9e801044e0c381f5e4.png" alt="Dataspaces Enablers viewpoint" usemap="#id-58b9bd0fcd3d4a9e801044e0c381f5e4map"/>
			   <map name="id-58b9bd0fcd3d4a9e801044e0c381f5e4map">
				          <area shape="rect" coords="1892,1998,2974,2144" href="../objects/id-6eba3fa10df3405ba50951575373246c.html" target="element" >
				  				<area shape="rect" coords="3834,1542,4152,1712" href="../elements/id-63c0db62c99948fd84caba30914c44dc.html"  target="element">
				  				<area shape="rect" coords="3836,1734,4150,1904" href="../elements/id-7411635a.html"  target="element">

				          <area shape="rect" coords="3788,1446,4198,1952" href="../objects/id-6ca2c796cfcf47289f22cf1c2fe6be92.html" target="element" >
				  				<area shape="rect" coords="4172,1206,4486,1376" href="../elements/id-f7ca5d2462aa4f758bec40fb18a896dd.html"  target="element">
				  				<area shape="rect" coords="3836,1206,4148,1376" href="../elements/id-3fbc0556.html"  target="element">
				  				<area shape="rect" coords="3836,966,4148,1136" href="../elements/id-6ba0088c17a1458cbe1ec2a182b6a6e5.html"  target="element">

				          <area shape="rect" coords="3788,894,4534,1424" href="../objects/id-982a7779b9a348ea9023a8ca430ca523.html" target="element" >
				  				<area shape="rect" coords="2996,296,3286,442" href="../elements/id-17779f56-2bac-4dad-8ab8-b936752a019d.html"  target="element">

				          <area shape="rect" coords="2948,248,3332,488" href="../objects/id-7b8aa3e8fd554dfd9f4b5bcde66039e7.html" target="element" >
				  				<area shape="rect" coords="3398,296,3688,442" href="../elements/id-a5c8f1bb7ba54c33b356bf9b2d6e1572.html"  target="element">

				          <area shape="rect" coords="3350,248,3734,488" href="../objects/id-b44ee8c157954047a5b311661613cce7.html" target="element" >
				  				<area shape="rect" coords="2290,308,2578,452" href="../elements/id-cc67f2f3c54643268296e506c6f816e8.html"  target="element">
				  				<area shape="rect" coords="2458,116,2734,262" href="../elements/id-94f4afcc729a438c9f81e690a6e2afef.html"  target="element">
				  				<area shape="rect" coords="2122,116,2398,262" href="../elements/id-1f48987a80694b3ab65e47642f5d53f8.html"  target="element">

				          <area shape="rect" coords="2074,20,2778,488" href="../objects/id-7e40f6ad4a7f483e8596db59b9847f92.html" target="element" >
				  				<area shape="rect" coords="1498,246,1836,392" href="../elements/id-94a335715225404cbb982effa989123f.html"  target="element">

				          <area shape="rect" coords="1426,150,1894,488" href="../objects/id-9144e600d6314cd1869d9d321e2cec07.html" target="element" >
				  				<area shape="rect" coords="92,1734,368,1880" href="../elements/id-960bb8d77fdb4fba9a2fc6dac39f46be.html"  target="element">
				  				<area shape="rect" coords="596,1494,872,1640" href="../elements/id-16575842549f4570a6cdb653b3c28201.html"  target="element">
				  				<area shape="rect" coords="92,1494,368,1640" href="../elements/id-7c7d0c63cbb84558893e3ce6cd67f9de.html"  target="element">
				  						<area shape="rect" coords="588,1734,864,1880" href="../elements/id-fd5b3d0bdbb245e1a82c14c573f1ae15.html"  target="element">

				  		        <area shape="rect" coords="540,1686,926,1928" href="../objects/id-865003d015b845a68d60d6e9f01319d6.html" target="element" >

				          <area shape="rect" coords="20,1398,1030,1976" href="../objects/id-54b5a87a09034832beeec42393a95759.html" target="element" >
				  				<area shape="rect" coords="620,990,956,1162" href="../elements/id-d899b0aea3f84c28ae9003713b83368d.html"  target="element">
				  				<area shape="rect" coords="620,750,956,922" href="../elements/id-8fc725c2d5ba4bcb9f5171ff96a9d4ba.html"  target="element">
				  				<area shape="rect" coords="68,990,404,1162" href="../elements/id-5dbe8d57.html"  target="element">

				          <area shape="rect" coords="20,654,1028,1254" href="../objects/id-2a39a300ff094227af56f20477b51641.html" target="element" >
				  				<area shape="rect" coords="620,222,956,394" href="../elements/id-d355753b35884da891212316e72b00d6.html"  target="element">
				  				<area shape="rect" coords="92,224,428,396" href="../elements/id-01b395b610234c1cb965cf99652fd1b1.html"  target="element">

				          <area shape="rect" coords="20,126,1030,488" href="../objects/id-230d669113b846abae6c5de3f16d1680.html" target="element" >
				  						<area shape="rect" coords="2612,1134,2996,1352" href="../elements/id-18583e024e60438897a59724bb097a0b.html"  target="element">
				  						<area shape="rect" coords="1844,1134,2228,1352" href="../elements/id-400cd60b3d714f438939f66ee43bfbea.html"  target="element">
				  						<area shape="rect" coords="2252,846,2636,1064" href="../elements/id-f6dff0c998434b9582a0f50825ce165c.html"  target="element">

				  				<area shape="rect" coords="1676,750,3188,1424" href="../elements/id-4efaae2526db4daa94ab831589be3288.html"  target="element">
				  						<area shape="rect" coords="2252,1638,2614,1832" href="../elements/id-c682a79a.html"  target="element">

				  		        <area shape="rect" coords="1676,1542,3188,1878" href="../objects/id-31435efba2c64f889bb3207e8a29555e.html" target="element" >

				  		<area shape="rect" coords="1436,678,3430,1976" href="../elements/id-77cd5d71a9904e6181da8360eac795a0.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:

The EIRA approach for Data Spaces emphasises a decentralised model where no centralised elements, such as data lakes or data warehouses, are used to process or store the data. Instead, data is maintained and managed by the participants within the data space itself. This approach ensures that control over the data remains with the original data owners, fostering trust, data sovereignty, and compliance with data protection regulations. Through the EIRA/eGovERA Data Space approach, participants share data, allowing for collaboration without the need for centralised storage or processing hubs, thereby promoting a more distributed and flexible data management ecosystem.

The [TVA-Dataspace Enablers] view extends technical view application and provides a comprehensive framework for leveraging various elements and their relationships to enable data integration, management, and usage. This view is composed of several Diagram Model-group ABBs, each containing multiple Application Service ABBs, and a Grouping ABB named [Dataspace Enablers].

The [App Store / Extensions / User Workflows] group includes three services: [Data Integration], [Data Integration Plugins Manager], and [Data Extraction, Transformation and Loading]. These services facilitate the process of combining data from multiple sources into a unified view, managing plugins within a data integration system, and extracting, transforming, and loading data into a target data store.

The [Event Driven / NRT] group contains the [Message Broker] service, which acts as an intermediary for asynchronous message-based communication between different applications.

The [Vocabulary Management] group includes the [Vocabulary Hub] service, a centralized repository for managing and providing access to a wide range of vocabularies or terminologies.

The [Trust] group contains the [Privacy] service, which enables functionalities such as storing, securing, anonymising, pseudonymising, rectifying and erasing personal data.

The [Identity Provider] group includes three services: [Centralized Identity Management], [Decentralized Identity Management], and [Identity Management]. These services manage and control user identities and access rights in both centralized and decentralized manners.

The [Monitoring] group contains the [Observability] service, which provides insights into the internal state and behavior of a system by analyzing its external outputs.

The [Dataspace Enablers] group includes the [Dataspace], [Dataspace Connector], [Dataspace Connector Provider], and [Dataspace Connector Consumer] services. These services support the creation and management of a dataspace, a virtual space for integrating, transforming, and making available data.

The [Contract Negotiation] group includes the [Data Contract], [Data Policy], and [Data Governance] services, which manage the availability, usability, integrity, and security of data within an organization.

The [Service Discovery and Registry], [Service Registry], [Data Catalogue Management], [Dataset Catalogue], and [Federated Data Catalogue Management] services enable the implementation of public digital services, organize metadata about data assets, and manage data catalogues.

The [Data Analytics and Quality] group includes the [Data Analytics] and [Data Quality] services, which analyze data and ensure its accuracy, completeness, consistency, and up-to-dateness.

The view also includes several Archimate Diagram-model ABBs that represent the motivation behind various elements, and Diagram Model-connection ABBs that represent the relationships between these elements.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-77cd5d71a9904e6181da8360eac795a0.html" target="element"> Dataspace Enablers </a> </td>
											    <td> <a href="../elements/id-77cd5d71a9904e6181da8360eac795a0.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-31435efba2c64f889bb3207e8a29555e.html" target="element"> Data Transfer </a> </td>
											           <td> <a href="../objects/id-31435efba2c64f889bb3207e8a29555e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-c682a79a.html" target="element"> Data </a> </td>
															    <td> <a href="../elements/id-c682a79a.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-4efaae2526db4daa94ab831589be3288.html" target="element"> Data Space </a> </td>
													    <td> <a href="../elements/id-4efaae2526db4daa94ab831589be3288.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-f6dff0c998434b9582a0f50825ce165c.html" target="element"> Data Space Connector </a> </td>
															    <td> <a href="../elements/id-f6dff0c998434b9582a0f50825ce165c.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-400cd60b3d714f438939f66ee43bfbea.html" target="element"> Data Space Connector Provider </a> </td>
															    <td> <a href="../elements/id-400cd60b3d714f438939f66ee43bfbea.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-18583e024e60438897a59724bb097a0b.html" target="element"> Data Space Connector Consumer </a> </td>
															    <td> <a href="../elements/id-18583e024e60438897a59724bb097a0b.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-230d669113b846abae6c5de3f16d1680.html" target="element"> Connectors Registry / App Store </a> </td>
									           <td> <a href="../objects/id-230d669113b846abae6c5de3f16d1680.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-01b395b610234c1cb965cf99652fd1b1.html" target="element"> Service Registry </a> </td>
													    <td> <a href="../elements/id-01b395b610234c1cb965cf99652fd1b1.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d355753b35884da891212316e72b00d6.html" target="element"> Service Discovery and Registry </a> </td>
													    <td> <a href="../elements/id-d355753b35884da891212316e72b00d6.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-2a39a300ff094227af56f20477b51641.html" target="element"> Catalogue </a> </td>
									           <td> <a href="../objects/id-2a39a300ff094227af56f20477b51641.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-5dbe8d57.html" target="element"> Dataset Catalogue </a> </td>
													    <td> <a href="../elements/id-5dbe8d57.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8fc725c2d5ba4bcb9f5171ff96a9d4ba.html" target="element"> Federated Data Catalogue Management </a> </td>
													    <td> <a href="../elements/id-8fc725c2d5ba4bcb9f5171ff96a9d4ba.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d899b0aea3f84c28ae9003713b83368d.html" target="element"> Data Catalogue Management </a> </td>
													    <td> <a href="../elements/id-d899b0aea3f84c28ae9003713b83368d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-54b5a87a09034832beeec42393a95759.html" target="element"> Contract Negotiation </a> </td>
									           <td> <a href="../objects/id-54b5a87a09034832beeec42393a95759.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-865003d015b845a68d60d6e9f01319d6.html" target="element"> Policy Engine </a> </td>
											           <td> <a href="../objects/id-865003d015b845a68d60d6e9f01319d6.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-fd5b3d0bdbb245e1a82c14c573f1ae15.html" target="element"> Data Policy Engine </a> </td>
															    <td> <a href="../elements/id-fd5b3d0bdbb245e1a82c14c573f1ae15.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-7c7d0c63cbb84558893e3ce6cd67f9de.html" target="element"> Data Contract </a> </td>
													    <td> <a href="../elements/id-7c7d0c63cbb84558893e3ce6cd67f9de.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-16575842549f4570a6cdb653b3c28201.html" target="element"> Data Governance </a> </td>
													    <td> <a href="../elements/id-16575842549f4570a6cdb653b3c28201.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-960bb8d77fdb4fba9a2fc6dac39f46be.html" target="element"> Data Policy </a> </td>
													    <td> <a href="../elements/id-960bb8d77fdb4fba9a2fc6dac39f46be.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-9144e600d6314cd1869d9d321e2cec07.html" target="element"> Monitoring </a> </td>
									           <td> <a href="../objects/id-9144e600d6314cd1869d9d321e2cec07.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-94a335715225404cbb982effa989123f.html" target="element"> Observability </a> </td>
													    <td> <a href="../elements/id-94a335715225404cbb982effa989123f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-7e40f6ad4a7f483e8596db59b9847f92.html" target="element"> Identity Provider </a> </td>
									           <td> <a href="../objects/id-7e40f6ad4a7f483e8596db59b9847f92.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-1f48987a80694b3ab65e47642f5d53f8.html" target="element"> Centralized Identity Management </a> </td>
													    <td> <a href="../elements/id-1f48987a80694b3ab65e47642f5d53f8.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-94f4afcc729a438c9f81e690a6e2afef.html" target="element"> Decentralized Identity Management </a> </td>
													    <td> <a href="../elements/id-94f4afcc729a438c9f81e690a6e2afef.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cc67f2f3c54643268296e506c6f816e8.html" target="element"> Identity management </a> </td>
													    <td> <a href="../elements/id-cc67f2f3c54643268296e506c6f816e8.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-b44ee8c157954047a5b311661613cce7.html" target="element"> Vocabulary Management </a> </td>
									           <td> <a href="../objects/id-b44ee8c157954047a5b311661613cce7.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-a5c8f1bb7ba54c33b356bf9b2d6e1572.html" target="element"> Vocabulary Hub </a> </td>
													    <td> <a href="../elements/id-a5c8f1bb7ba54c33b356bf9b2d6e1572.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-7b8aa3e8fd554dfd9f4b5bcde66039e7.html" target="element"> Trust </a> </td>
									           <td> <a href="../objects/id-7b8aa3e8fd554dfd9f4b5bcde66039e7.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-17779f56-2bac-4dad-8ab8-b936752a019d.html" target="element"> Privacy </a> </td>
													    <td> <a href="../elements/id-17779f56-2bac-4dad-8ab8-b936752a019d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-982a7779b9a348ea9023a8ca430ca523.html" target="element"> App Store / Extensions / User Workflows </a> </td>
									           <td> <a href="../objects/id-982a7779b9a348ea9023a8ca430ca523.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-6ba0088c17a1458cbe1ec2a182b6a6e5.html" target="element"> Data Integration </a> </td>
													    <td> <a href="../elements/id-6ba0088c17a1458cbe1ec2a182b6a6e5.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3fbc0556.html" target="element"> Data Extraction, Transformation and Loading </a> </td>
													    <td> <a href="../elements/id-3fbc0556.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f7ca5d2462aa4f758bec40fb18a896dd.html" target="element"> Data Integration Plugins Manager </a> </td>
													    <td> <a href="../elements/id-f7ca5d2462aa4f758bec40fb18a896dd.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-6ca2c796cfcf47289f22cf1c2fe6be92.html" target="element"> Data Analytics and Quality </a> </td>
									           <td> <a href="../objects/id-6ca2c796cfcf47289f22cf1c2fe6be92.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-7411635a.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-7411635a.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-63c0db62c99948fd84caba30914c44dc.html" target="element"> Data Analytics </a> </td>
													    <td> <a href="../elements/id-63c0db62c99948fd84caba30914c44dc.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-6eba3fa10df3405ba50951575373246c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6eba3fa10df3405ba50951575373246c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-f9faba56af7f4d5d90b215d27cb97d44.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f9faba56af7f4d5d90b215d27cb97d44.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-77cd5d71a9904e6181da8360eac795a0.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-4efaae2526db4daa94ab831589be3288.html" target="element"> Data Space </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
																			<tr>
																				<td> <a href="../elements/id-f838e3a284fe4a70b28e8e81c24259c9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f838e3a284fe4a70b28e8e81c24259c9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4efaae2526db4daa94ab831589be3288.html" target="element"> Data Space </a> </td>
																				<td> <a href="../elements/id-f6dff0c998434b9582a0f50825ce165c.html" target="element"> Data Space Connector </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-aa3a3604238741f18e72d4a13b4eabb2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aa3a3604238741f18e72d4a13b4eabb2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4efaae2526db4daa94ab831589be3288.html" target="element"> Data Space </a> </td>
																				<td> <a href="../elements/id-400cd60b3d714f438939f66ee43bfbea.html" target="element"> Data Space Connector Provider </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-990015413254492087481a649f7f5408.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-990015413254492087481a649f7f5408.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4efaae2526db4daa94ab831589be3288.html" target="element"> Data Space </a> </td>
																				<td> <a href="../elements/id-18583e024e60438897a59724bb097a0b.html" target="element"> Data Space Connector Consumer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d91f9535021b480297494852da244497.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d91f9535021b480297494852da244497.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4efaae2526db4daa94ab831589be3288.html" target="element"> Data Space </a> </td>
																				<td> <a href="../elements/id-d355753b35884da891212316e72b00d6.html" target="element"> Service Discovery and Registry </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3a9dcbd3c9dd4f1b98481c86d4823756.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3a9dcbd3c9dd4f1b98481c86d4823756.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4efaae2526db4daa94ab831589be3288.html" target="element"> Data Space </a> </td>
																				<td> <a href="../elements/id-8fc725c2d5ba4bcb9f5171ff96a9d4ba.html" target="element"> Federated Data Catalogue Management </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-9ac64a025af74d2fb8ae1c9a2a5c8633.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-9ac64a025af74d2fb8ae1c9a2a5c8633.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f6dff0c998434b9582a0f50825ce165c.html" target="element"> Data Space Connector </a> </td>
																						<td> <a href="../elements/id-d899b0aea3f84c28ae9003713b83368d.html" target="element"> Data Catalogue Management </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-3a32f5978c0f42f59978979dec084c9e.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-3a32f5978c0f42f59978979dec084c9e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f6dff0c998434b9582a0f50825ce165c.html" target="element"> Data Space Connector </a> </td>
																						<td> <a href="../elements/id-16575842549f4570a6cdb653b3c28201.html" target="element"> Data Governance </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-c5e4e02db3a04a45a0c0d68f290ffa31.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-c5e4e02db3a04a45a0c0d68f290ffa31.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f6dff0c998434b9582a0f50825ce165c.html" target="element"> Data Space Connector </a> </td>
																						<td> <a href="../elements/id-94a335715225404cbb982effa989123f.html" target="element"> Observability </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-d2181697cc3f4345ab01b6dd9ccd4491.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-d2181697cc3f4345ab01b6dd9ccd4491.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f6dff0c998434b9582a0f50825ce165c.html" target="element"> Data Space Connector </a> </td>
																						<td> <a href="../elements/id-17779f56-2bac-4dad-8ab8-b936752a019d.html" target="element"> Privacy </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-6f119480a1424d93a1ef8ab94f621e73.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-6f119480a1424d93a1ef8ab94f621e73.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f6dff0c998434b9582a0f50825ce165c.html" target="element"> Data Space Connector </a> </td>
																						<td> <a href="../elements/id-a5c8f1bb7ba54c33b356bf9b2d6e1572.html" target="element"> Vocabulary Hub </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-b4b3982f38114d02a89676e67e5314df.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b4b3982f38114d02a89676e67e5314df.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f6dff0c998434b9582a0f50825ce165c.html" target="element"> Data Space Connector </a> </td>
																						<td> <a href="../elements/id-cc67f2f3c54643268296e506c6f816e8.html" target="element"> Identity management </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-d2cb295809fe4335acfae1e371b0a105.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-d2cb295809fe4335acfae1e371b0a105.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f6dff0c998434b9582a0f50825ce165c.html" target="element"> Data Space Connector </a> </td>
																						<td> <a href="../elements/id-6ba0088c17a1458cbe1ec2a182b6a6e5.html" target="element"> Data Integration </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-1eef861c1cf64307847b3c049e14dd68.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-1eef861c1cf64307847b3c049e14dd68.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f6dff0c998434b9582a0f50825ce165c.html" target="element"> Data Space Connector </a> </td>
																						<td> <a href="../elements/id-63c0db62c99948fd84caba30914c44dc.html" target="element"> Data Analytics </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-b48ad5db5e6b43609a39362b21ab84c6.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b48ad5db5e6b43609a39362b21ab84c6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f6dff0c998434b9582a0f50825ce165c.html" target="element"> Data Space Connector </a> </td>
																						<td> <a href="../elements/id-7411635a.html" target="element"> Data Quality </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-9e8669cccdd745de8887c79babffcf9b.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-9e8669cccdd745de8887c79babffcf9b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-400cd60b3d714f438939f66ee43bfbea.html" target="element"> Data Space Connector Provider </a> </td>
																						<td> <a href="../elements/id-f6dff0c998434b9582a0f50825ce165c.html" target="element"> Data Space Connector </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-9b71558b4ec847a4b43f114ca09090be.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-9b71558b4ec847a4b43f114ca09090be.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-400cd60b3d714f438939f66ee43bfbea.html" target="element"> Data Space Connector Provider </a> </td>
																						<td> <a href="../elements/id-c682a79a.html" target="element"> Data </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-0f5458910ffd41819d9d46dfff8f9d11.html" target="element"> Data transmission </a> </td>
																						<td> <a href="../elements/id-0f5458910ffd41819d9d46dfff8f9d11.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-400cd60b3d714f438939f66ee43bfbea.html" target="element"> Data Space Connector Provider </a> </td>
																						<td> <a href="../elements/id-18583e024e60438897a59724bb097a0b.html" target="element"> Data Space Connector Consumer </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-9484b8b608b34a07925c0e1c4e14cc52.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-9484b8b608b34a07925c0e1c4e14cc52.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-18583e024e60438897a59724bb097a0b.html" target="element"> Data Space Connector Consumer </a> </td>
																						<td> <a href="../elements/id-f6dff0c998434b9582a0f50825ce165c.html" target="element"> Data Space Connector </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-93dbb3394efd4e5b886019e45f24d582.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-93dbb3394efd4e5b886019e45f24d582.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-18583e024e60438897a59724bb097a0b.html" target="element"> Data Space Connector Consumer </a> </td>
																						<td> <a href="../elements/id-c682a79a.html" target="element"> Data </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-94f34c05071147f39bf759f6c8ac6450.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-94f34c05071147f39bf759f6c8ac6450.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d355753b35884da891212316e72b00d6.html" target="element"> Service Discovery and Registry </a> </td>
																				<td> <a href="../elements/id-01b395b610234c1cb965cf99652fd1b1.html" target="element"> Service Registry </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-d24484a3c97c47f880d26d6901587992.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d24484a3c97c47f880d26d6901587992.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8fc725c2d5ba4bcb9f5171ff96a9d4ba.html" target="element"> Federated Data Catalogue Management </a> </td>
																				<td> <a href="../elements/id-d899b0aea3f84c28ae9003713b83368d.html" target="element"> Data Catalogue Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4229d518d89243849bb31a873bc091c4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4229d518d89243849bb31a873bc091c4.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d899b0aea3f84c28ae9003713b83368d.html" target="element"> Data Catalogue Management </a> </td>
																				<td> <a href="../elements/id-5dbe8d57.html" target="element"> Dataset Catalogue </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/id-5c19c281c1974b8da3f22fd22e896afc.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5c19c281c1974b8da3f22fd22e896afc.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fd5b3d0bdbb245e1a82c14c573f1ae15.html" target="element"> Data Policy Engine </a> </td>
																						<td> <a href="../elements/id-960bb8d77fdb4fba9a2fc6dac39f46be.html" target="element"> Data Policy </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-a1e6e9e794194ce1a7e70249672f5b07.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a1e6e9e794194ce1a7e70249672f5b07.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7c7d0c63cbb84558893e3ce6cd67f9de.html" target="element"> Data Contract </a> </td>
																				<td> <a href="../elements/id-960bb8d77fdb4fba9a2fc6dac39f46be.html" target="element"> Data Policy </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-49fae0263c1343fd86a85d7c6aed0261.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-49fae0263c1343fd86a85d7c6aed0261.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-16575842549f4570a6cdb653b3c28201.html" target="element"> Data Governance </a> </td>
																				<td> <a href="../elements/id-7c7d0c63cbb84558893e3ce6cd67f9de.html" target="element"> Data Contract </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4a08ad0c5ebf49f498799fa316116f4e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4a08ad0c5ebf49f498799fa316116f4e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-16575842549f4570a6cdb653b3c28201.html" target="element"> Data Governance </a> </td>
																				<td> <a href="../elements/id-fd5b3d0bdbb245e1a82c14c573f1ae15.html" target="element"> Data Policy Engine </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-da0b913c3cad423287eb506e6685bafb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-da0b913c3cad423287eb506e6685bafb.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1f48987a80694b3ab65e47642f5d53f8.html" target="element"> Centralized Identity Management </a> </td>
																				<td> <a href="../elements/id-cc67f2f3c54643268296e506c6f816e8.html" target="element"> Identity management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a2876750b349480f96f2187f6fa48fda.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a2876750b349480f96f2187f6fa48fda.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-94f4afcc729a438c9f81e690a6e2afef.html" target="element"> Decentralized Identity Management </a> </td>
																				<td> <a href="../elements/id-cc67f2f3c54643268296e506c6f816e8.html" target="element"> Identity management </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-d4794322a03b4a5b856a463f1ae20029.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d4794322a03b4a5b856a463f1ae20029.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6ba0088c17a1458cbe1ec2a182b6a6e5.html" target="element"> Data Integration </a> </td>
																				<td> <a href="../elements/id-3fbc0556.html" target="element"> Data Extraction, Transformation and Loading </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7a07ddc610c14227b62d0c11171ca4d5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a07ddc610c14227b62d0c11171ca4d5.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6ba0088c17a1458cbe1ec2a182b6a6e5.html" target="element"> Data Integration </a> </td>
																				<td> <a href="../elements/id-f7ca5d2462aa4f758bec40fb18a896dd.html" target="element"> Data Integration Plugins Manager </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>